.buttons-tab:after{
    display: none;
}
.g-header .buttons-tab{
    margin: 0 auto;
    background: none;
}
.g-header .buttons-tab:after{
    display: none;
}
.g-header .buttons-tab .button.active{
    color:#fff;
    border:none;
}
.g-header .buttons-tab .button{
    display: inline;
    line-height: inherit;
    top:0;
    color: #e6e6e6;
}
.m-tabs{
    border-bottom: 1px solid #e6e6e6;
    padding-left: 1rem;
    margin-bottom: .2rem;
}

.m-tabs .buttons-tab .button.active{
    color: #333;
    border-color: #333;
}

.m-asideTabs{
    display: block;
    border: none;
}
.m-asideTabs:after{
    display: none;
}
.m-asideTabs .button{
    display: block;
    float: left;
    height: 3rem;
    border: none;
    line-height: 3rem;
    margin-bottom: 1px;
    background: #F0F0F2;
    color: #929292;
    transition: background .3s,color.3s;
}
.m-asideTabs .button.active{
    color: #333333;
    background: #ffffff;
}
.m-listItem li{
    float: left;
    width: 33.33%;
    max-width: 4.37rem;
    padding: .28rem;
}
.m-listItem li img{
    width: 100%;
    min-height: 3.8rem;
    max-height: 3.85rem;
}
.m-listItem li p{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .7rem;
}

.m-banner-sm .swiper-container{
    padding: 0;
}
.m-banner-sm .swiper-container img{
    width: 100%;
}
.m-logoList ul li{
    float: left;
    width: 25%;

    padding: .1rem;
}
.m-logoList ul li img{
    width: 100%;

}

.m-index{
    margin-top: .5rem;
    clear: both;
}
.m-index .u-index-content{
    overflow: hidden;

}
.m-index .u-index-content li a{
    width: 100%;
    height: 100%;
}
.m-index .u-index-content li{
    font-size: .7rem;
    line-height: 1.5rem;
    border-bottom: solid 1px #f7f2f7;
}
.m-index .u-index-content li:active{
    background: #f7f2f7;
}
.m-index .letter{
    font-size: .7rem;
    line-height: .85rem;
    background: #E3E1E3;
    padding-left: .5rem;
    border-top: 1px solid #C9C7C9;
    border-bottom: 1px solid #C9C7C9;
}
.m-index .m-index-side{
    position: fixed;
    width: 1.5rem;
    text-align: center;
    top: 15%;
    z-index: 1;
    right: 0;
    overflow: hidden;
    font-size: .6rem;
    line-height: .7rem;
}
.m-index .m-index-side a{
    display: block;
    width: 100%;
}

/*设计页面*/
.m-design div{
    margin-bottom: .1rem;
    width: 100%;
}
.m-design div img{
    display: block;
    width: 100%;
}
