.content{
    background: #F0F0F2 ;
}
.bar .button-link{
    color: #333;
}
.picker-calendar-day.picker-calendar-day-selected span{
    background: #333;
}
section[class*="m-"]{
    position: relative;
}
section[class*="m-"]:after,
section[class*="m-"]:before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
section[class*="m-"]:before{
    bottom: auto;
    top: 0;
}
section[class*="m-"]:after{
    bottom: 0;
    top: auto;
}

.list-block .item-content {
    margin-bottom: .5rem;
}

.m-member-info{
    position: relative;
    background: #fff;
}
.m-member-info .u-username{
    text-align: center;
    font-size: .7rem;
    color: #333;
    margin-top: -1.2rem;
    margin-bottom: 1rem;
}
.m-member-info .u-pic{
    padding: 1.5rem 0;
    text-align: center;
}
.m-member-info .u-pic img{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 1.5rem;
}
.m-member-info .u-today{
    position: absolute;
    font-size: .7rem;
    top: 3rem;
    right: 0;
    padding: .1rem .3rem;
    background: #333;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    color: #fff;
}
.m-btn-box{
    background: #fff;
    overflow: hidden;
}
.m-member-info .u-btn{
    position: relative;
    float: left;
    text-align: center;
    font-size: .7rem;
    padding: .2rem 0;
}
.m-member-info .u-btn:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 75%;
    width: 1px;
    background-color: #bbbbbb;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.m-member-info .u-btn:last-child:after{
    display: none;
}

.m-row-btn{
    padding: .5rem;
    background: #fff;
    margin-top: .5rem;
}
.m-row-btn .u-boxname{
    position: relative;
    font-size: .7rem;
    line-height: 1.8rem;
    padding: 0 .69rem;
}
.m-row-btn .u-boxname:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.m-row-btn .m-btn{
    overflow: hidden;
    padding-top: .3rem;
}
.m-row-btn .u-btn{
    position: relative;
    float: left;
    font-size: .7rem;
    text-align: center;
}
.m-row-btn .u-btn p{
    position: relative;
    display: table;
    margin: 0 auto;
}
.m-row-btn .u-btn .u-btnImg{
    width: 2rem;
    height: 2rem;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.m-row-btn .u-btn .u-btnImg.wait-pay-icon{
    background-image: url("../icon/wait-pay-icon.png");

}
.m-row-btn .u-btn .u-btnImg.wait-send-icon{
    background-image: url("../icon/wait-send-icon.png");

}
.m-row-btn .u-btn .u-btnImg.wait-shouhuo-icon{
    background-image: url("../icon/wait-shouhuo-icon.png");

}
.m-row-btn .u-btn .u-btnImg.wait-comment-icon{
    background-image: url("../icon/wait-comment-icon.png");

}
.m-row-btn .u-btn .u-btnImg.after-sale-icon{
    background-image: url("../icon/after-sale-icon.png");

}
.m-row-btn .u-btn .u-btnImg.coupon-icon{
    background-image: url("../icon/coupon-icon.png");

}
.m-row-btn .u-btn .u-btnImg.point-icon{
    background-image: url("../icon/point-icon.png");

}
.m-row-btn .u-btn .u-btnImg.collect-icon{
    background-image: url("../icon/collect-icon.png");

}
.m-row-btn .u-btn .u-btnImg.cart-icon{
    background-image: url("../icon/cart-icon.png");

}
.m-row-btn .u-btn img{
    display: block;
    width: 2rem;
    height: 2rem;
}
.m-row-btn .u-btn .u-num{
    position: absolute;
    display: block;
    width:1rem;
    height: 1rem;
    right: -.5rem;
    top: -.2rem;
    color: white;
    background: #ff3e3e;
    border-radius: 1rem;
}

.u-version{
    font-size: .7rem;
    margin: 1rem  0;
    color: #333;
}
.icon-lianxiren{
    font-size: 1.3rem;
}


/*系统消息*/
.m-sys-msg .u-item>p{
    text-align: center;
    padding: .5rem;
}
.m-sys-msg:before,.m-sys-msg:after{
    display: none !important;
}
.m-sys-msg .u-text-box{
    padding: .5rem;
    margin:  0 .5rem;
    background: #fff;
    border-radius: .5rem;
    color: #333;

}
.m-sys-msg .u-text-box>p:first-child{
    font-size: .8rem;
    margin-left: 1rem;
}
.m-sys-msg .u-text-box .u-text{
    font-size: .7rem;
}
/*评论消息*/
.m-comment-msg .u-item{
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: .5rem;
}

.m-comment-msg .u-item .u-user-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    float: left;
    margin: .5rem .3rem;
    overflow: hidden;
}
.m-comment-msg .u-item .u-user-pic img{
    width: 100%;
    height:100%;
}
.m-comment-msg .u-item .u-username{
    float: left;
    font-size: .7rem;
    margin-top: .5rem;
    margin-left: .3rem;
}
.m-comment-msg .u-item .u-username.dz{
    margin-top:.5rem ;
}
.m-comment-msg .u-item .u-username a{
    margin-right: .2rem;
}
.m-comment-msg .u-item .u-username>span{
    color: #333;
}
.m-comment-msg .u-item .u-pic{
    float: right;
    width: 4rem;
    height: 3rem;
    overflow: hidden;
    line-height: 3rem;
    font-size: .7rem;
}
.m-comment-msg .u-item .icon-like{
    position: absolute;
    font-size: .8rem;
    right: 1rem;
    top: 1.5rem;
    color: #ff3758;
}
.m-comment-msg .u-item .u-pic img{
    width: 100%;
    height: 100%;
}
.m-comment-msg .u-item .u-text{
    float: left;
    width: 75%;
    margin-left: .3rem;
    margin-top: .15rem;
    font-size: .7rem;

}
.m-comment-msg .u-item time{
    clear: left;
    float: left;
    display: block;
    font-size: .7rem;
    margin: .3rem 0 0 2.8rem;
}
.m-comment-msg .u-item time.u-time2{
    float: left;
    clear: both;
    margin-top: -1rem;
}
.m-comment-msg .u-item:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
/*点赞*/
.m-comment-msg .u-time{
    position: absolute;
    bottom: 1rem;
}


/*编辑信息*/
.m-edit-info .u-item{
    position: relative;
    width: 100%;
    background: #fff;
    font-size: .8rem;
    padding: .4rem .5rem;
    line-height: 2.4rem;
    height: 3.3rem;
    overflow: hidden;
    color: #333;
}
.m-edit-info .u-item:first-child{
    line-height: 3.5rem;
    height: 4rem;
    margin-bottom: .5rem;
}
.m-edit-info .u-item:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.m-edit-info .u-item span{
    margin-left: 1rem;
}
.m-edit-info .u-item img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .8rem;
    margin-top: .38rem;
    border-radius: 2rem;
}
.m-edit-info .u-item .u-input{
    position: absolute;
    top: 0;
    right: 2rem;
    height: 100%;
    text-align: right;
    border: none;
}
/*地址管理*/
.m-add-manage:before,.m-add-manage:after{
    display: none  !important;
}
.m-add-manage .u-item{
    overflow: hidden;
    background: #fff;
    padding: .5rem;
    margin: .3rem;
}
.m-add-manage .u-item .item-inner{
    padding-bottom: .8rem;
    position: relative;
}
.m-add-manage .u-item .item-inner:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.m-add-manage .u-item .item-inner p{
    overflow: hidden;
    font-size: .7rem;
}
.m-add-manage .u-item .item-inner p:first-child{
    font-size: .8rem;
    color: #333;
}
.m-add-manage .u-item .item-media{
    line-height: 1.8rem;
    font-size: .7rem;
}
.m-add-manage .u-item .item-media .iconfont{
    font-size: 1rem;
}
.m-add-manage .u-item .item-media .u-del{
    margin-right: 1rem;
    margin-top: 1px;
}
 .m-new-add{
    text-align: center;
    font-size: .75rem;
    line-height: 2.5rem;
}
 /*新增地址*/
.m-add-receiver{
    overflow: hidden;
    background: #fff;
    padding:0 .5rem;
    line-height: 2rem;
    margin-top: 0;
}
.m-add-receiver textarea{
    width: 100%;
    height: 2rem;
    line-height: 1rem;
    border: none;
    margin-top: .48rem;
}
.picker-items{
    font-size: 1rem;
}
/*优惠券*/
.m-coupon:before{
    display: none !important;
}
.m-coupon .u-item{
    position: relative;
    background-image: url("../icon/bg_coupons_black.png");
    background-size: 100% 100%;
    height: 4.8rem;
    padding: .5rem  1rem;
    margin: .6rem .3rem;
    color: #e3bf72;
}


.m-coupon .u-item>.pull-left{
    text-align: center;
    font-size: .7rem;
    display: table;
    height: 100%;
}
.m-coupon .u-item>.pull-left .u-num{
    margin-top: .7rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
.m-coupon .u-item>.pull-left .u-act{
    display: table-cell;
    vertical-align: middle;
    font-size: .8rem;
    height: 100%;
}
.item-prompt{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 101;
}
.item-prompt .item-mask{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    position: absolute;
}
.item-prompt .item-notice{
    width: 100%;
    position: absolute;
    z-index: 1;
}
.item-prompt .item-notice .item-notice2{
    background: #fff;
    width: 13rem;
    margin: 0 auto;
    z-index: 1;
    border-radius: 5%;
    margin-top: 5rem;
    text-align: center;
    position: relative;
}
.item-notice .item-notice2 ol{
    font-size: 0.5rem;
    text-align: left;
    width:90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}
.item-notice .item-notice2 h1{
    padding: 0.6rem;
    font-size: 1.2rem
}
.item-notice .item-notice2 div{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 0.1rem solid #8F8D8F;
    padding: 0.5rem;
}
.item-notice .item-notice2 div a{
    padding: 0 4rem;
    color: #ff3e3e;
}

.m-coupon .u-item .u-name{
    font-size: .8rem;
    font-weight:bold;
}
.m-coupon .u-item .u-code{
    font-size: .7rem;
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    width: 90%;
}
.m-coupon .u-item .u-date{
    font-size: .6rem;
    line-height: .5rem;
}
.m-coupon .u-item .u-status{
    text-align: center;
    float: right;
    position: absolute;
    display: table;
    top: 0;
    right: 0.5rem;
    height: 100%;
    font-size: .7rem;
}
.m-coupon .u-item .u-status span{
    display: table-cell;
    vertical-align: middle;
}
.m-coupon .u-item .u-status.active{
    color: #fff;
}
/*发票页面*/
.m-choice-list{
    background: #fff;
    margin: .5rem 0;
    padding: .5rem;
    overflow: hidden;
    font-size: .7rem;
}
.m-choice-list>p{
    color: #333;
    overflow: hidden;
    padding: 0 .5rem;
}
.m-choice-list ul{
    padding: 0 .5rem;
}
.m-choice-list li{
    height: 1.8rem;
    line-height: 1.8rem;
}
.m-choice-list:before{
    display: none !important;
}
.m-choice-list textarea{
    width: 100%;
    border: none;
    line-height: 1rem;
    height: 6rem;
}
.m-tax-bar .u-btn{
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -4rem;
    top: 50%;
    margin-top: -0.9rem;
    width: 8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: .8rem;
    border-radius: .3rem;
    background: #333;
    color: #fff;
    text-align: center;
}
/*订单评价*/
.m-comment{
    position: relative;
    background: #fff;
    padding: 0.5rem;
}
.m-comment .m-star{
    position: relative;
    font-size: .8rem;
    line-height:2.5rem;
    height: 2.5rem;
}
.m-comment .m-star:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.m-comment .m-star img{
    float: left;
    width: 2rem;
    height: 2rem;
    margin-top: .25rem;
    margin-right: .5rem;
}
.m-comment textarea{
    width: 100%;
    height: 6rem;
    font-size: .7rem;
    margin-top: .2rem;
    border:none;
}
.m-comment .u-img{
    overflow: hidden;
}
.m-comment .u-img li{
    float: left;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    margin: .2rem ;
    text-align: center;
}
.m-comment .u-img li img{
    width: 100%;
}
.m-comment .icon-star{
    color: #e6e6e6;
}

/*修改密码*/
.m-password-tips{
    padding: .5rem;
    font-size: .7rem;
}
.m-modify-password.u-sub{
    display: block;
    background: #BBBBBB;
    color: #333;
    width: 10rem;
    text-align: center;
    line-height: 1.8rem;
    margin: 1rem auto;
    border: none;
    font-size: .8rem;
    border-radius: .3rem;
}

/*退换货申请*/
.m-cart-list.media-list:before{
    display: none !important;
}
.m-checkbox-field{
    overflow: hidden;
    padding: .5rem;
    background: #fff;
    position: relative;
    font-size: .7rem;
    color: #333;
}
.m-checkbox-field:before{
    display: none !important;
}
.m-checkbox-field .u-name{
    line-height: 1.8rem;
    position: relative;
}
.m-checkbox-field .u-name:after{

}
.m-checkbox-field .u-checkbox{
    float: left;
    padding: .2rem .3rem;
    background: #e6e6e6;
    min-width: 4rem;
    text-align: center;
    border-radius: .2rem;
    margin: .4rem .5rem;
}
.m-checkbox-field .u-checkbox.active{
    background: #333;
    color: #fff;
}
.m-checkbox-field .image-upload{
    position: relative;
}
.u-textarea{
    width: 100%;
    min-height: 5rem;
    border: none;
    font-size: .7rem;
}
.u-bigbtn{
    display: block;
    width: 12rem;
    background: #333;
    color: #fff;
    line-height: 1.8rem;
    margin: 1rem auto;
    border: none;
    font-size: .8rem;
    border-radius: .3rem;
    text-align: center;
}

/*粉丝详情页*/
.u-like-btn{
    padding: .2rem 1rem;
    background: #fff;
    color: #bbbbbb;
    border: solid 1px #bbbbbb;
    font-size: .75rem;
    border-radius: .2rem;
    margin-bottom: 1rem;
}
.m-comment-msg .u-username2{
    float: left;
    margin-left: 1rem;
    line-height: 3rem;
    font-size: .75rem;
    color: #333;
}
/*我的作品*/
.m-my-opus{
    background: #fff;
    overflow: hidden;
}
.m-my-opus li{
    width: 50%;
    height: 11rem;
    text-align: center;
    font-size: .7rem;
    float: left;
    padding: .5rem;
}
.m-my-opus li .u-pic{
    width: 100%;
    height: 8rem;
    text-align: center;
}
.m-my-opus li .u-pic img{
    width: 100%;
    height: 100%;
}
.m-my-opus li .u-delete,
.m-my-opus li .u-design{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px #e6e6e6 solid;

}
/***********积分商城页面************/
.m-point-link{
    line-height: 3rem;
    font-size: .7rem;
    overflow: hidden;
    background: #fff;
    padding: 0 2rem;
    margin-bottom: .5rem;
}
.m-point-link span:first-child{
    font-size: 1.4rem;
    margin-right: .5rem;
}
.m-point-btn{
    position: relative;
    overflow: hidden;
    background: #fff;
}
.m-point-btn :after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.m-point-btn div{
    float: left;
    font-size: .7rem;
    text-align: center;
    padding: .8rem  0;
    color: #333;
}
.m-point-btn img{
    width: 2.5rem;
    height: 2.5rem;
}
.m-product.bg-white{
    padding: .5rem;
}
.m-comment-msg .u-item .u-btn{
    border: 1px #bbbbbb solid;
    padding: .2rem .6rem;
    border-radius: .2rem;
    color: #8F8D8F;
}
.m-comment-msg .u-username3{
    float: left;
    margin-left: 0.5rem;
    line-height: 1rem;
    font-size: .75rem;
    color: #333;
    padding-top: .53rem;
}
.m-point-rule{
    font-size: .7rem;
    padding: .5rem;
}
.m-point-rule p{
    text-align: center;
}
.m-point-rule li{
    margin: .5rem 0;
}
.m-point-total p{
    padding: .5rem;
    font-size: .8rem;
    color: #333;
    background: #FFF;
}

/*图片上传*/
#clipArea{
    display: none;
    position: fixed;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: 55;
}
#clickBtn{
    position: fixed;
    left: 50%;
    bottom: 1rem;
    z-index: 55;
    background: white;
    text-align: center;
    width: 8rem;
    margin-left: -4rem;
    line-height: 1.7rem;
    border-radius: .3rem;
    color: #333;
}